@model BrauerNetApp.Models.QUESTOR

@{
    ViewData["Title"] = "QUESTOR";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Goal> newQUESTORGoalList = new List<BrauerNetApp.Models.Goal>();
    newQUESTORGoalList = Model.Goals;

    Goal newQUESTORGoal = new BrauerNetApp.Models.Goal();
    newQUESTORGoal.QUESTORId = Model.QUESTORId;


    List<Goal> QUESTORGoalList = new List<BrauerNetApp.Models.Goal>();
    QUESTORGoalList = Model.Goals;
}

<h2>Edit Project @Html.DisplayFor(model => model.Question) on BrauerNet</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.QUESTORId)

    @Html.LabelFor(model => model.Question)
    @Html.EditorFor(model => model.Question)

    <input type="submit" value="Save" class="btn btn-success" />
}

<h3>Goals</h3>

@using (Html.BeginForm())
{
    foreach (var goal in QUESTORGoalList)
    {
        @Html.Partial("~/Views/Goals/DisplayGoal.cshtml", goal)
        <div id="QUESTORGoalResult"></div>
    }
}

@Html.Partial("~/Views/Goals/CreateGoal.cshtml", newQUESTORGoal)
<div id="newQUESTORGoalResult"></div>