@model BrauerNetApp.Models.QUESTOR

@{
    ViewData["Title"] = "QUESTOR";

    List<Goal> newQUESTORGoalList = new List<BrauerNetApp.Models.Goal>();
    newQUESTORGoalList = Model.Goals;

    Goal newQUESTORGoal = new BrauerNetApp.Models.Goal();
    newQUESTORGoal.QUESTORId = Model.QUESTORId;

    List<Module> newQUESTORModuleList = new List<BrauerNetApp.Models.Module>();
    newQUESTORModuleList = Model.Modules;

    Module newQUESTORModule = new BrauerNetApp.Models.Module();
    newQUESTORModule.QUESTORId = Model.QUESTORId;
}

<div class="questormain standard">
    <h2>
        QUESTOR: @Html.DisplayFor(model => Model.Question)
        @Html.ActionLink("Delete", "Delete", "QUESTORs", new { id = Model.QUESTORId })
    </h2>

    <hr />
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => Model.QUESTORId)

        @Html.LabelFor(model => Model.Question)
        @Html.EditorFor(model => Model.Question)

        <input type="submit" value="Save" class="btn btn-success" />
    }

    <div class="goals standard">
        <h3>Goals</h3>

        <ol>
            @foreach (var goal in newQUESTORGoalList)
            {
                <li>
                    @Html.Partial("~/Views/Goals/EditGoal.cshtml", goal, new ViewDataDictionary(this.ViewData) { { "id", goal.GoalId } })
                    <div id="editQUESTORGoalResult"></div>
                </li>
            }
        </ol>

        @Html.Partial("~/Views/Goals/CreateGoal.cshtml", newQUESTORGoal)
        <div id="newQUESTORGoalResult"></div>
    </div>

    <div class="container modulelist">
        <div class="tab standard">
            <h3>Module List</h3>
            @foreach (var module in newQUESTORModuleList)
            {
                @if (module == newQUESTORModuleList[0])
                {
                    <button class="tablinks" onclick="openModule(event, '@module.WebTitle()')" id="defaultOpen">@module.WebTitle()</button>
                    <br />
                }
                else
                {
                    <button class="tablinks" onclick="openModule(event, '@module.WebTitle()')">@module.WebTitle()</button>
                    <br />
                }
            }
        </div>

        <div class="container">
            @foreach (var module in newQUESTORModuleList)
            {
                @if (module == newQUESTORModuleList[0])
                {
                    <div id="@module.WebTitle()" class="tabcontent">
                        @Html.Partial("~/Views/Modules/EditModule.cshtml", module, new ViewDataDictionary(this.ViewData) { { "id", module.ModuleId } })
                        <div id="editQUESTORModuleResult"></div>
                    </div>
                }
                else
                {
                    <div id="@module.WebTitle()" class="tabcontent">
                        @Html.Partial("~/Views/Modules/EditModule.cshtml", module, new ViewDataDictionary(this.ViewData) { { "id", module.ModuleId } })
                        <div id="editQUESTORModuleResult"></div>
                    </div>
                }

            }
        </div>
        @Html.Partial("~/Views/Modules/CreateModule.cshtml", newQUESTORModule)
        <div id="newQUESTORModuleResult"></div>
    </div>
</div>