@model List<BrauerNetApp.Models.Standard>
@using BrauerNetApp.Models;

@{
    ViewData["Title"] = "Standard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Standards on BrauerNet</h2>
<hr />
@if (Model.Count > 0)
{
    @foreach (var standard in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>@Html.DisplayFor(modelItem => standard.Type)</h3>
                        <h3>@Html.DisplayFor(modelItem => standard.Identifier)</h3>
                        <h3>@Html.DisplayFor(modelItem => standard.Description)</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>@Html.ActionLink("Edit Standard", "Edit", new { id = standard.StandardId })</li>
                            <li>@Html.ActionLink("Delete Standard", "Delete", new { id = standard.StandardId })</li>
                            <li>@Html.ActionLink("Standard Details", "Details", new { id = standard.StandardId })</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    }
}

<h2>
    @Html.ActionLink("Create Project", "Create", "Projects")
</h2>
<h2>
    @Html.ActionLink("Create Goal", "Create", "Goals")
</h2>
<h2>
    @Html.ActionLink("Create Participant", "Create", "Participants")
</h2>
<h2>
    @Html.ActionLink("Create Stakeholder", "Create", "Stakeholders")
</h2>
<h2>
    @Html.ActionLink("Create Standard", "Create", "Standards")
</h2>

