@model BrauerNetApp.Models.Project

@{
    ViewData["Title"] = "Project - Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateProject", "Projects"))
{
    <h4>Add a Project</h4>
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.NickName)
    @Html.EditorFor(model => model.NickName)

    @Html.HiddenFor(model => Model.ProjectId)
    @Html.HiddenFor(model => Model.ModuleId)
    @Html.HiddenFor(model => Model.Module)

    <input type="submit" value="Create" class="btn btn-success" />
}
