@model BrauerNetApp.Models.Project
@using BrauerNetApp.Models

@{
    ViewData["Title"] = "Project";

    List<Step> newProjectStepList = new List<BrauerNetApp.Models.Step>();
    newProjectStepList = Model.Steps;

    Step newProjectStep = new BrauerNetApp.Models.Step();
    newProjectStep.ProjectId = Model.ProjectId;

    List<Response> newProjectResponseList = new List<BrauerNetApp.Models.Response>();
    newProjectResponseList = Model.Responses;

    Response newProjectResponse = new BrauerNetApp.Models.Response();
    newProjectResponse.ProjectId = Model.ProjectId;
}

<div class="project standard">
    <h3>
        Project
        <span class="left">@Html.DisplayNameFor(x => Model.Name): @Html.DisplayFor(model => model.Name)</span>
        <span class="right">@Html.DisplayNameFor(x => Model.NickName): @Html.DisplayFor(model => model.NickName)</span>
    </h3>

    <div class="steps standard">
        <h3>Steps</h3>

        <ol>
            @foreach (var step in newProjectStepList)
            {
                <li>
                    @Html.Partial("~/Views/Steps/DetailsStep.cshtml", step)
                    <div id="ProjectStepResult"></div>
                </li>
            }
        </ol>
    </div>

    <div class="responses standard">
        <h3>Responses</h3>

        <ol>
            @foreach (var response in newProjectResponseList)
            {
            <li>
                @Html.Partial("~/Views/Responses/DetailsResponse.cshtml", response)
                <div id="ProjectResponseResult"></div>
            </li>
            }
        </ol>
    </div>
</div>