@model BrauerNetApp.Models.Project
@using BrauerNetApp.Models

@{
    ViewData["Title"] = "Project - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Module> moduleProjectList = new List<BrauerNetApp.Models.Module>();
    moduleProjectList = Model.Modules;

    Module newModuleProject = new BrauerNetApp.Models.Module();
    newModuleProject.ProjectId = Model.ProjectId;
}

<html>
<head>
    <title>BrauerNet - Project Details</title>

</head>

<body>
    <h2>Project Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<br />

    <ul>
        @for (var i = 0; i < 3; i++)
        {
            <li>@Html.DisplayNameFor(model => model.GoalProjects[i].Goal.Description): @Html.DisplayFor(model => model.GoalProjects[i].Goal.Description)</li>
        }
    </ul>

    @Html.Partial("~/Views/Modules/DisplayModules.cshtml", moduleProjectList)
    <div id="moduleProjectResult"></div>

    @Html.Partial("~/Views/Modules/CreateModule.cshtml", newModuleProject)
    <div id="newModuleProjectResult"></div>

    @foreach (var module in moduleProjectList)
    {
        @Html.Partial("~/Views/Modules/EditModule.cshtml", module, new ViewDataDictionary(this.ViewData) { { "id", module.ModuleId } })
        <div id="editModuleProjectResult"></div>

        @Html.ActionLink("EditModule", "EditModule", "Modules", new { id = module.ModuleId })
    }


</body>
</html>
