@model BrauerNetApp.Models.Project
@using BrauerNetApp.Models

@{
    ViewData["Title"] = "Project";

    List<Step> newProjectStepList = new List<BrauerNetApp.Models.Step>();
    newProjectStepList = Model.Steps;

    Step newProjectStep = new BrauerNetApp.Models.Step();
    newProjectStep.ProjectId = Model.ProjectId;

    List<Response> newProjectResponseList = new List<BrauerNetApp.Models.Response>();
    newProjectResponseList = Model.Responses;

    Response newProjectResponse = new BrauerNetApp.Models.Response();
    newProjectResponse.ProjectId = Model.ProjectId;
}

@if (User.Identity.IsAuthenticated)
{
    <div class="project standard">
        @using (Html.BeginForm("EditProject", "Projects"))
        {
            @Html.HiddenFor(model => model.ProjectId)
            @Html.HiddenFor(model => model.ModuleId)

            <h3>
                Project

                @Html.LabelFor(model => model.Name):
                @Html.EditorFor(model => model.Name)
                <br />

                @Html.LabelFor(model => model.NickName)
                @Html.EditorFor(model => model.NickName)

                <input type="submit" value="Save" class="btn btn-success" />

                @Html.ActionLink("Delete", "DeleteProject", "Projects", new { id = Model.ProjectId })
            </h3>
        }

        <div class="steps standard">
            <h3>Steps</h3>

            <ol>
                @foreach (var step in newProjectStepList)
                {
                    <li>
                        @Html.Partial("~/Views/Steps/EditStep.cshtml", step, new ViewDataDictionary(this.ViewData) { { "stepid", step.StepId } })
                        <div id="editProjectStepResult"></div>
                    </li>
                }
            </ol>

            @Html.Partial("~/Views/Steps/CreateStep.cshtml", newProjectStep)
            <div id="newProjectStepResult"></div> <br /><br />
        </div>

        <div class="responses standard">
            <h3>Responses</h3>

            <ol>
                @foreach (var response in newProjectResponseList)
                {
                    <li>
                        @Html.Partial("~/Views/Responses/EditResponse.cshtml", response, new ViewDataDictionary(this.ViewData) { { "responseid", response.ResponseId } })
                        <div id="editProjectResponseResult"></div>
                    </li>
                }
            </ol>

            @Html.Partial("~/Views/Responses/CreateResponse.cshtml", newProjectResponse)
            <div id="newProjectResponseResult"></div> <br /><br />
        </div>
    </div>
}
else
{
    <h2>Please sign-in to gain access to this function.</h2>
}