@model BrauerNetApp.Models.Module

@{ 
    ViewData["Title"] = "Module - Display";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    List<Project> newModuleProjectList = new List<BrauerNetApp.Models.Project>();
    newModuleProjectList = Model.Projects;

    Project newModuleProject = new BrauerNetApp.Models.Project();
    newModuleProject.ModuleId = Model.ModuleId;
}

<html>
<head></head>

<body>
    <li>@Html.DisplayNameFor(x => Model.Title): @Html.DisplayFor(model => model.Title)  @Html.ActionLink("Delete", "DeleteModule", "Modules", new { id = Model.ModuleId })<br /></li>

    <h3>Projects</h3>

    @foreach (var project in newModuleProjectList)
    {
        @Html.Partial("~/Views/Projects/DetailsProject.cshtml", project);
        <div id="ModuleProjectResult"></div>

        @Html.Partial("~/Views/Projects/EditProject.cshtml", project, new ViewDataDictionary(this.ViewData) { { "id", project.ProjectId } });
        <div id="editModuleProjectResult"></div>
    }

    @Html.Partial("~/Views/Projects/CreateProject.cshtml", newModuleProject)
    <div id="newModuleProjectResult"></div>

</body>

</html>

