@model BrauerNetApp.Models.Stakeholder

@{
    ViewData["Title"] = "Stakeholder - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a New Stakeholder</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Organization)
    @Html.EditorFor(model => model.Organization)

    @Html.LabelFor(model => model.ContactName)
    @Html.EditorFor(model => model.ContactName)

    @Html.LabelFor(model => model.Notes)
    @Html.EditorFor(model => model.Notes)


    <input type="submit" value="Create" class="btn btn-success" />
}
